:root {
    --ecom-theme-color: #0057FC;
    --ecom-theme-sec-color: #FFE815;
    --ecom-body-color: #57595C;
    --ecom-heading-color: #0A0E1A;
    --ecom-nblue-color: #001C52;
    --ecom-white: white;
    --ecom-black: rgb(0, 0, 0);
    --ecom-grey-color: #f6f6f6;
    --ecom-service-hov-color: #FBF6EF;
    --ed-theme-cream-color: #FBF6EF;
    --ed-common-black:#0A0E1A;
}