@use "../../utils" as *;
// @___ header menu___@
.transparent_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.ed_main_menu nav {
  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    & li {
      display: inline-block;
      margin-right: 42px;
      padding: 36px 0px;
      position: relative;
      cursor: pointer;
      & a {
        color: #fff;
        font-size: 14px;
        font-family: var(--ecom-heading-font);
        display: inline-block;
        transition: color 0.3s ease-in-out;
      }
      & .sub_menu {
        position: absolute;
        background-color: white;
        flex-direction: column;
        width: 213px;
        top: 105%;
        align-items: start;
        padding: 12px;
        gap: 5px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        & li {
          padding: 0;
          margin-right: 0;
          position: relative;
          display: block;
          width: 100%;
          & a {
            color: #000;
          }
          & .sub_menu{
            position: absolute;
            left: 100%;
            top: 15%;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            
          }
          &:hover {
            & > a {
              color: var(--ecom-theme-color);
            }
            & .sub_menu{
              visibility: visible;
              opacity: 1;
              top: 0;
            }
          }
        }
      }
      &:hover {
        & a {
          color: var(--ecom-theme-sec-color);
        }
        & .sub_menu {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }
      }
    }
  }
}
