@use "../utils" as *;

.w-img {
	& img {
		width: 100%;
	}
}

.m-img {
	& img {
		max-width: 100%;
	}
}

img {
	max-width: 100%;
}

.fix {
	overflow: hidden;
}

.clear {
	clear: both;
}

.z-index-1 {
	z-index: 1;
}

.z-index-11 {
	z-index: 11;
}

.overflow-y-visible {
	overflow-x: hidden;
	overflow-y: visible;
}

.overflow-x-visible {
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.ed_blue_bg {
	background-color: var(--ecom-theme-color);
}

.br_20 {
	border-radius: 20px;
}

.ed_nblue_bg {
	background-color: var(--ecom-nblue-color);
}

.ed_theme_bg {
	background-color: rgba(0, 87, 252, 1);
}

.ed_yellow_bg {
	background-color: var(--ecom-theme-sec-color);
}

.ed_theme_black_bg {
	background-color: var(--ecom-heading-color);
}

// @__________brand scrolling animation _________@
.ed_slide_transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.ed_brand_slide_element {
	width: auto !important;
	display: inline-block !important;
}

.ed_theme_cream_bg {
	background-color: var(--ed-theme-cream-color);
}

// hero 2
.bg_position {
	background-position: bottom;
	background-repeat: no-repeat;
}