@use "../utils" as *;

.ed_btn {
   font-family: var(--ecom-heading-font);
   padding: 16px 46px;
   font-size: 18px;
   font-weight: 400;
   color: #fff;
   display: inline-block;
   background-color: var(--ecom-theme-color);
   border-radius: 5px;
   &_sec{
      font-family: var(--ecom-heading-font);
      padding: 21px 47px;
      font-size: 18px;
      font-weight: 400;
      color: rgb(10, 14, 26);
      display: inline-block;
      background-color: var(--ecom-theme-sec-color);
      border-radius: 5px;
      &_lg {
         padding: 16px 48px;
      }
   }
   &_circle{
      font-family: var(--ecom-heading-font);
      font-size: 60px;
      color: #fff;
      opacity: 0.3;
      border: 2px solid rgba(255,255,255,0.2);
      padding: 48px 75px;
      display: inline-block;
      line-height: 1;
      border-radius: 100%;
   }
}
