@use '../utils' as *;

.ed_section_title {
    font-size: 60px;
    font-weight: 700;
    color: #000;
    line-height: 1.1;
    &_white{
        color: #fff;
    }
    @media #{$xl}{
        font-size: 52px;
    }
    @media #{$lg}{
        font-size: 50px;
    }
}