@use "../../utils" as *;

.ed_about_box {
    @media #{$lg,$xl} {
        padding-left: 10px;
    }
}

.ed_about_img {
    @media #{$lg,$xl} {
        padding-left: 10px;
        border-radius: 10px;
    }
}

.ed_about_box {
    @media #{$md} {
        padding-left: 0;
    }

    @media #{$xs} {
        padding-left: 0;
    }
}

.ed_about_img {
    @media #{$md} {
        padding-left: 0;
    }

    @media #{$xs} {
        margin-bottom: 30px;
        padding-left: 0;
    }
}

.ed_about_img img {
    border-radius: 10px;
}

.ed_about_video {
    @media #{$lg,$xl} {
        padding-left: 5px;
    }

    @media #{$md,$xs } {
        padding-left: 0;
    }

    &_info {
        gap: 20px;
    }

    &_icon {
        & a {
            display: inline-block;
            height: 80px;
            width: 80px;
            text-align: center;
            border: 1px solid #57595c;
            line-height: 75px;
            border-radius: 50%;
        }
    }

    h4 {
        color: #57595c;
        font-size: 30px;
        line-height: 1.2;
    }
}

.ed_about_shape {
    &_1 {
        position: absolute;
        right: 0;
        z-index: -1;
        max-width: 444px;

        @media #{$xl} {
            max-width: 200px;
        }

        @media #{$xs} {
            max-width: 100px;
        }
    }

    &_2 {
        position: absolute;
        z-index: 1;
        max-width: 200px;

        @media #{$xs} {
            max-width: 100px;
            right: 0;
        }
    }

    &_3 {
        position: absolute;
        z-index: -1;
        left: 35%;
        bottom: 250px;
        max-width: 444px;

        @media #{$xs} {
            max-width: 100px;
        }
    }
}

.ed_section_title_wrapper {
    & p {
        margin: 0;
        margin-bottom: 30px;

        & br {
            display: none;
        }
    }

    & ul {
        & li {
            list-style: none;
            margin-bottom: 17px;

            &:last-child {
                margin-bottom: unset;
            }

            & span {
                font-family: var(--ecom-heading-font);
                font-size: 30px;
                line-height: 1.33;
                color: #0a0e1a;
            }

            & i {
                font-size: 30px;
                color: #000;
                display: inline-block;
                margin-right: 12px;
            }
        }
    }
}

.ed_about_circle_img {
    position: absolute;
    top: 0;
    right: 185px;

    & img {
        max-width: inherit;
    }
}