@use "../../utils" as *;
@media #{$lg} {
    .ed_about_box {
        padding-left: 10px;
    }
    .ed_about_img {
        padding-left: 10px;
    }
}
.ed_about_video {
    @media #{$lg} {
        padding-left: 30px;
        
    }
    &_info {
        gap: 20px;
    }
    &_icon {
        & a {
            display: inline-block;
            height: 80px;
            width: 80px;
            text-align: center;
            border: 1px solid #57595c;
            line-height: 75px;
            border-radius: 50%;
        }
    }
    h4 {
        color: #57595c;
        font-size: 30px;
        line-height: 1.2;
    }
}

.ed_about_shape {
    &_1 {
        position: absolute;
        right: 0;
        z-index: -1;
        max-width: 444px;
        @media #{$xl} {
            max-width: 200px;
        }
    }
    &_2 {
        position: absolute;
        z-index: 1;
        max-width: 444px;
    }
    &_3 {
        position: absolute;
        z-index: -1;
        left: 35%;
        bottom: 250px;
        max-width: 444px;
    }
}
