@use '../../utils' as *;

.ed_blog {

    &_content {
        @media #{$xl,$lg,$md,$xs } {
            padding-left: 0;
        }

    }

    &_title {
        font-family: var(--ecom-heading-font);
        font-weight: 400;
        font-size: 30px;
        line-height: 1.2;
        color: #0a0e1a;

        @media #{$lg ,$md} {
            font-size: 25px;
        }
    }

    &_meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & span {
            font-size: 17px;
            color: #57595c;

            & i {
                margin-right: 5px;
            }
        }

        & cite {
            display: inline-block;
            height: 16px;
            width: 2px;
            background-color: #57595C;
            margin: 0 15px;
        }
    }

    &_2 {
        position: relative;
        border: 1px solid var(--ecom-body-color);

        &_thumb {
            width: 200px;
            flex: 0 0 auto;
            transform: translateX(-12px);
            margin-left: -3px;
            height: 100%;
            position: absolute;
            left: 0;
            top: -12px;

            & img {
                height: calc(100% + 24px);
                object-fit: cover;
            }
        }

        &_content {
            padding-top: 25px;
            padding-bottom: 27px;


        }
    }
}