@use "../../utils" as *;

.custom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ed_fact {
    &_icon {
        & i {
            font-size: 100px;
            color: var(--ecom-theme-sec-color);
            display: inline-flex;
        }
    }

    &_title {
        font-family: var(--ecom-heading-font);
        font-weight: 400;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
    }

    &_text {
        & span {
            font-family: var(--ecom-heading-font);
            font-weight: 400;
            font-size: 100px;
            line-height: 1;
            color: #fff;
            display: inline-block;
            margin-top: 28px;
        }
    }
}

.cols {
    @media #{$md} {
        width: 50%;
    }

    @media #{$xs} {
        width: 100%;
    }
}