@use "../../utils" as *;

.ed_accordion {
    &_body {
        margin: 0px 30px;
        border-top: 1px solid var(--ecom-body-color);
        padding-top: 20px;
    }

    &_button {
        font-size: 20px;
        line-height: 1.5;
        color: #0a0e1a;
        width: 100%;
        padding: 20px 30px;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span {
            margin-right: 20px;
            transition: 0.05s linear;

            & i {
                font-size: 18px;
                color: var(--ecom-body-color);
            }
        }

        &.collapsed {
            & span {
                transform: rotate(-90deg);
            }
        }
    }

    &_item {
        border: 1px solid #000;
        border-radius: 10px;
    }
}

.ed_faq_bg {
    position: absolute;
    left: 0;
    width: calc(50% - 65px); 
    
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}