@use "../../utils" as *;

.ed_project_tab_content {
    @media #{$lg} {
        padding-right: 30px;
    }
    @media #{$xs} {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.ed_project_tab_area {
    @media #{$md} {
        padding-right: 0;
    }
    @media #{$xs} {
        padding-right: 0;
    }
}

.ed_project {
    &_tab {
        & button {
            color: #fff;
            font-size: 100px;
            line-height: 1.2;
            font-family: var(--ecom-heading-font);
            border-bottom: 1px solid #2f446b;
            padding: 12px 100px;
            padding-right: 35px;
            transition: all 0.2s linear;
            text-align: left;
            @media #{$xxlm} {
                font-size: 70px;
            }

            @media #{$xl} {
                font-size: 65px;
                padding: 12px 50px;
            }

            @media #{$lg} {
                font-size: 60px;
                padding: 12px 40px;
            }
            @media #{$md} {
                font-size: 40px;
                padding: 12px 40px;
            }
            @media #{$xs} {
                font-size: 20px;
                padding: 12px 10px;
            }

            &.active {
                border-bottom: 1px solid var(--ecom-theme-sec-color);
                color: var(--ecom-theme-sec-color);
            }
        }
        @media #{$md} {
            &_content {
                padding-left: 0;
            }
        }
    }

    &_tab_thumb {
        @media #{$lg} {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
        }
        @media #{$md} {
            padding-left: 0;
            padding-right: 30px;
        }

        & img {
            border-radius: 20px;
            max-width: 100%;
        }
    }
}
