@use "../../utils" as *;
.edservices {
    border: 1px solid #57595c;
    padding: 50px 40px;
    margin-right: -1px;
    transition: all 0.3s linear;
    &_title {
        font-size: 30px;
    }
    &_icon {
        & span {
            i {
                font-size: 80px;
                color: var(--ed-common-black);
                display: flex;
                align-items: center;
            }
        }
    }
    &_text {
        p {
        }
    }
    &_lists {
        & ul {
            list-style: none;
            & li {
                margin-bottom: 5px;
                color: #57595c;
                &::before {
                    background-color: #57595c;
                    content: "";
                    height: 8px;
                    width: 8px;
                    display: inline-block;
                    border-radius: 30px;
                    margin-right: 9px;
                    transform: translateY(-2px);
                }
            }
        }
    }
    &_btn {
        & .ed_sv_btn {
            background: var(--ecom-service-hov-color);
            width: 100%;
            display: inline-block;
            padding: 6px 28px;
            border-radius: 5px;
            font-size: 18px;
            color: #0a0e1a;
            font-family: var(--ecom-heading-font);
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 0.3s linear;
            & i {
                transform: rotate(-45deg);
            }
        }
    }
    &:hover {
        background-color: var(--ecom-service-hov-color);
        & .ed_sv_btn {
            background-color: var(--ecom-theme-color);
            color: #fff;
        }
    }
}
