@use "../../utils"as *;

.ed_testimonial {
    &_desc {
        font-size: 100px;
        font-weight: 400;
        line-height: 1.1;
    }

    &_name {
        font-size: 30px;
        margin-bottom: 5px;
    }

    &_desgin {
        color: #57595c;
        font-size: 17px;
        margin-left: 146px;

        & span {
            height: 1px;
            width: 60px;
            background-color: #57595c;
            display: inline-block;
            transform: translateY(-5px);
            margin-right: 5px;
        }
    }

    &_shape {
        &_1 {
            z-index: -1;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }

        &_2 {
            z-index: -1;
            position: absolute;
            top: 121px;
            left: 127px;
            transform: translateX(-50%);
        }

        &_3 {
            z-index: -1;
            position: absolute;
            top: 39px;
            right: -120px;
            transform: translateX(-50%);
        }
    }
}

.flaticon-right-arrow.ed_rotated_180 {
    transform: rotate(-180deg);
}

.ed_testimonial_btn {
    position: absolute;
    left: -100px;
    top: 35%;

    @media #{$xxlm} {
        left: 0;
        top: inherit;
        bottom: 25px;
        z-index: 10;
    }

    @media #{$xl} {
        left: 50%;
        top: inherit;
        bottom: -11%;
        z-index: 10;
        transform: translateX(-50%);
    }

    &_next {
        & i {
            font-size: 45px;
            display: inline-flex;
        }
    }

    &_prev {
        left: auto;
        right: -100px;

        @media #{$xxlm} {
            right: 0;
            left: inherit;
            bottom: 25px;
            z-index: 10;
        }

        @media #{$xl} {
            right: 39%;
            left: inherit;
            bottom: -10%;
            z-index: 10;
            transform: translate(-50%, 10px);
        }

        & i {
            font-size: 45px;
            display: inline-flex;
        }
    }
}