@use "../../utils" as *;

.ed_testimonial {
    &_desc {
        font-size: 100px;
        font-weight: 400;
        line-height: 1.1;

        @media #{$xl} {
            font-size: 80px;
        }

        @media #{$lg} {
            font-size: 60px;
        }

        @media #{$md} {
            font-size: 55px;
        }

        @media #{$xs} {
            font-size: 40px;
        }
    }

    &_name {
        font-size: 30px;
        margin-bottom: 5px;
    }

    &_desgin {
        color: #57595c;
        font-size: 17px;
        margin-left: 146px;

        @media #{$xs} {
            font-size: 15px;
            margin-left: 92px;
        }

        & span {
            height: 1px;
            width: 60px;
            background-color: #57595c;
            display: inline-block;
            transform: translateY(-5px);
            margin-right: 5px;
        }
    }

    &_shape {
        &_1 {
            z-index: -1;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);

            @media #{$xl,$lg,$md} {
                top: 0;
            }

            @media #{$md} {
                width: 80%;
            }
        }

        &_2 {
            z-index: -1;
            position: absolute;
            top: 121px;
            left: 127px;
            transform: translateX(-50%);

            @media #{$xl} {
                top: 79px;
            }
        }

        &_3 {
            z-index: -1;
            position: absolute;
            top: 39px;
            right: -120px;
            transform: translateX(-50%);

            @media #{$xl} {
                top: 0;
            }
        }
    }
}

.flaticon-right-arrow.ed_rotated_180 {
    transform: rotate(-180deg);
}

.ed_testimonial_btn {
    position: absolute;
    left: -100px;
    top: 35%;

    @media #{$xxlm} {
        left: 0;
        top: inherit;
        bottom: 25px;
        z-index: 10;
    }

    @media #{$xl } {
        left: 50%;
        top: inherit;
        bottom: -19%;  
        z-index: 10;
        transform: translateX(-50%);
    }
    @media #{$md} {
        left: 50%;
        top: inherit;
        bottom: -2%; 
        z-index: 10;
        transform: translateX(-50%);
    }

    @media #{$lg} {
        left: 0;
        z-index: 10;
    }

    &_next {
        & i {
            font-size: 45px;
            display: inline-flex;
        }

        @media #{$md} {
            left: 41%;
            top: inherit;
            bottom: -4%;
            z-index: 10;
            transform: translate(50%,100%);
        }

        @media #{$xs} {
            left: 38%; 
            top: inherit;
            bottom: -42px;
            transform: translate(-22%, 50%); 
        }
    }

    &_prev {
        left: auto;
        right: -100px;

        @media #{$xxlm} {
            right: 0;
            left: inherit;
            bottom: 25px;
            z-index: 10;
        }

        @media #{$xl} {
            right: 41%;
            left: inherit;
            bottom: -18%;
            z-index: 10;
            transform: translate(-50%, 7px);
        }

        @media #{$md } {
            right: 38%;
            left: inherit;
            bottom: -5%;
            z-index: 10;
            transform: translate(-50%, 100%);
        }

        @media #{$lg} {
            right: 0;
            z-index: 10;
        }

        @media #{$xs} {
            right: 30%;
            top: inherit;
            left: inherit;
            transform: translate(-50%, 35%);
        }

        & i {
            font-size: 45px;
            display: inline-flex;
        }
    }
}